*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #27262e;
}

h1, h3{
  padding: 5px;
}

h1, h3, div{
  text-align: center;
  color: white;
}

.s24, .s19{
  width: 256px;
  height: 144px;
}

.a7{
  width: 256px;
  height: 144px;
}

#welcome{
  background-color: black;
}

.info{
  width: 100%;
  display: block;
  margin: 0 auto;  
}

.infoi{
  justify-content: left;
  width: 100%;
  display: inline-block;

}

#strength, #agility, #intelegense{
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#c{
  margin-left: 5px;
}

#mainitems{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#consumables, #accessories, #miscellaneous, #armor{
  width: 26%;
  margin-left: 35px;
  display: inline-block;
  flex-wrap: wrap;
}

#atributes, #secret_shop, #support, #weapons{
  width: 26%; 
  margin-left: 100px;
  display: inline-block;
  flex-wrap: wrap;
}

#equipment, #magical, #artifacts{
  width: 26%;
  margin-left: 100px;
  display: inline-block;
  flex-wrap: wrap;
}

#c, #a, #e, #m, #st, #acs, #sup, #mag, #arm, #w, #art{
  width: 79px;
  height: 58px;
}

html::-webkit-scrollbar {
  display: none;
}

.hero, .item{
  background-color: #212121;
  color: white;
  height: 50px;
  width: 49.8%;
  display: inline;
  border: white;
}

.text{
  margin-left: -26px;
  padding-top: 5px;
  width: 280px;
  height: 61px;
  position: absolute;
  overflow: hidden;
  transform: translateY(25px);
  opacity: 0;
}

.hero_name{
  color: white;
  position: relative;
  padding-top: 20px;
}

.name{
  transform: scale(0.9);
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  box-shadow: 0 0 25px rgb(0, 0, 0);
  transition: transform .3s;
}

.name:hover{
  position: relative;
  transform: scale(1.2);
  z-index: 1;
  box-shadow: 15px;
}

.name:hover > img{
  transition: transform .3s;
  position: relative;
  z-index: 1;
  box-shadow: 25px;
}

.name h2{
  width: 100%;
  bottom: 0;
  transform: translateY(40px);

  position: absolute;
  transition: transform .3s;
}

.name:hover > h2{
  transform: translateY(0px);
  opacity: 1;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  z-index: 2;
}